<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/error.css">
    </head>
    <body>
        <div class="infobox">
            <h1>{{ title }}</h1>
            <p>
                {{ details }}
            </p>
        </div>
        <div class="imgbox" style="background-image: url('/sloth.svg');"></div>
    </body>
</html>
