{% extends "base" %}

{% block title %}
CDDL Validation
{% endblock title %}

{% block content %}
    <form action="/" method="POST">
        <textarea name="cddl"></textarea>
        <input type="submit" value="Validate">
    </form>
    {{ cddl }}
{% endblock content %}
