{% extends "base" %}

{% block title %}
CDDL Validation
{% endblock title %}

{% block content %}
    <form action="/" method="POST">
      <div class="mb-3">
        <label for="cddlInput" class="form-label">CDDL</label>
        <textarea class="form-control" id="cddlInput" name="cddl" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {{ cddl }}
{% endblock content %}
